.products {
    padding: 40px;
    width: auto;
    font-family: "Noto Sans KR", "Roboto", system-ui, -apple-system, sans-serif;
}

.title {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

#list_title {
    padding-right: 18px;
    color: #000;
    font-family: var(--Static-Display-Small-Font, Roboto);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--Static-Display-Small-Line-Height, 44px);
    /* 137.5% */
    letter-spacing: var(--Static-Display-Small-Tracking, 0);
}

#list_num {
    display: flex;
    gap: 0;
    color: var(--Ewha-Grey, #B9B9B9);
    font-family: var(--Static-Display-Small-Font, Roboto);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: var(--Static-Display-Small-Line-Height, 44px);
    /* 137.5% */
    letter-spacing: var(--Static-Display-Small-Tracking, 0);
}

.list {
    padding-top: 16px;
    width: auto;
    font-family: "Noto Sans KR", "Roboto", system-ui, -apple-system, sans-serif;
}

.list_row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 16px;
}

.products table td {
    padding: 8px 16px 8px 8px;
}