@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    margin: 0 40px;
    padding-top: 116px;
    min-width: 1236px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-wrapper {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    min-width: 1236px;
}

#page-wrapper {
    width: 1236px;
    margin: 0 auto;
}


/*네비게이션 바*/
.navbar {
    max-width: 1236px;
    margin: 0 auto;
    background-color: #fffdf1;
    padding: 12px 35px;
    box-sizing: border-box;
}

.navbar__top {
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    color: #333333;
    padding-bottom: 28px;
}

.navbar__main {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: none;
    background-color: transparent;
}

/* 왼쪽 그룹: 로고+메뉴 */
.navbar__left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.logo img {
    height: 40px;
    display: block;
}

.main-nav ul {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin-left: 0;
    padding: 0;
    font-size: 16px;
}


/* 중앙 그룹: 검색창 */
.navbar__center {
    flex-grow: 1;
    max-width: 400px;
    margin: 0 40px;
    display: flex;
    justify-content: center;
}

.search-form {
    position: relative;
    width: 100%;
}

.search-form input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.search-form button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 16px;
}


/* 오른쪽 그룹: 아이콘 + 버튼 */
.navbar__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-icons {
    display: flex;
    gap: 20px;
}

.user-icons a {
    font-size: 24px;
    margin: 0;
    color: #888888;
}

.btn-register {
    background-color: #00462A;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
    margin-left: 0;
    cursor: pointer;
}

footer {
    padding: 55px 267px;
    text-align: center;
}