{% extends "index.html" %}
{% block title %}Home{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head %}

{% block section %}

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="static/resource/Main Banner/Main_Banner_1.png" alt="배너 1">
        </div>
        <div class="swiper-slide">
            <img src="static/resource/Main Banner/Main_Banner_2.png" alt="배너 2">
        </div>
        <div class="swiper-slide">
            <img src="static/resource/Main Banner/Main_Banner_3.png" alt="배너 3">
        </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>

<div class="pre_list">
    <p id="pre_list_title">지금 바로 대여 가능해요!</p>
    <table>
        <tr>
            {% for key, value in row1 %}
            <td>
                <div class="card" onclick="location.href='/product_detail/{{key}}/';" style="cursor:pointer;">
                    <a>
                        <div class="product_card">
                            <img src="/static/{{value.img_path}}" alt="product">

                            <div class="product_info">
                                <p id="product_01">{{ value.name }}</p>

                                <div class="price">
                                    <div class="price-left">
                                        <span id="product_02">{{ value.price }}원</span>
                                        <span id="product_03">/일</span>
                                    </div>
                                    <span id="product_04">보증금 원</span> <!-- 상품 등록에서 보증금 추가 필요 -->
                                </div>

                                <div class="p_attribute">
                                    <div class="p_attribute_left">
                                        <span id="product_05">{{ value.time_ago }}</span>
                                        <a><i class="fa-solid fa-comments"></i></a>
                                        <span id="product_06">1</span> <!-- 채팅 기능은 구현이 어려우므로 제외시키는 방향을 고민해봐요 -->
                                        <a><i class="fa-solid fa-heart"></i></a>
                                        <span id="product_07">1</span> <!-- 좋아요 기능 구현 후 수정 -->
                                    </div>

                                    <span id="product_08">{{ value.way }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row2 %}
            <td>
                <div class="card" onclick="location.href='/product_detail/{{key}}/';" style="cursor:pointer;">
                    <a>
                        <div class="product_card">
                            <img src="/static/{{value.img_path}}" alt="product">

                            <div class="product_info">
                                <p id="product_01">{{ value.name }}</p>

                                <div class="price">
                                    <div class="price-left">
                                        <span id="product_02">{{ value.price }}원</span>
                                        <span id="product_03">/일</span>
                                    </div>
                                    <span id="product_04">보증금 원</span> <!-- 상품 등록에서 보증금 추가 필요 -->
                                </div>

                                <div class="p_attribute">
                                    <div class="p_attribute_left">
                                        <span id="product_05">{{ value.time_ago }}</span>
                                        <a><i class="fa-solid fa-comments"></i></a>
                                        <span id="product_06">1</span> <!-- 채팅 기능은 구현이 어려우므로 제외시키는 방향을 고민해봐요 -->
                                        <a><i class="fa-solid fa-heart"></i></a>
                                        <span id="product_07">1</span> <!-- 좋아요 기능 구현 후 수정 -->
                                    </div>

                                    <span id="product_08">{{ value.way }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row3 %}
            <td>
                <div class="card" onclick="location.href='/product_detail/{{key}}/';" style="cursor:pointer;">
                    <a>
                        <div class="product_card">
                            <img src="/static/{{value.img_path}}" alt="product">

                            <div class="product_info">
                                <p id="product_01">{{ value.name }}</p>

                                <div class="price">
                                    <div class="price-left">
                                        <span id="product_02">{{ value.price }}원</span>
                                        <span id="product_03">/일</span>
                                    </div>
                                    <span id="product_04">보증금 원</span> <!-- 상품 등록에서 보증금 추가 필요 -->
                                </div>

                                <div class="p_attribute">
                                    <div class="p_attribute_left">
                                        <span id="product_05">{{ value.time_ago }}</span>
                                        <a><i class="fa-solid fa-comments"></i></a>
                                        <span id="product_06">1</span> <!-- 채팅 기능은 구현이 어려우므로 제외시키는 방향을 고민해봐요 -->
                                        <a><i class="fa-solid fa-heart"></i></a>
                                        <span id="product_07">1</span> <!-- 좋아요 기능 구현 후 수정 -->
                                    </div>

                                    <span id="product_08">{{ value.way }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </td>
            {% endfor %}
        </tr>
    </table>
    <div class="page-wrap">
        <div class="page-nation">
            <ul>
                <li>&lt;&lt;</li>
                <li>&lt;</li>
                {% for i in range(page_count) %}
                <li>
                    <a href="{{url_for('hello', page=i)}}">{{i}}</a>
                </li>
                {% endfor %}
                <li>&gt;</li>
                <li>&gt;&gt;</li>
            </ul>
        </div>
    </div>
</div>
<div class="find_list">
    <span id="list_title">"이런 물건 찾고 있어요! 🙋‍♀️"</span>
    <a href="#"><i class="fa-regular fa-square-plus"></i></a>
    <span id="see_all">전체보기</span>
    <div class="find_list_row">
        <div class="find_card">
            <p id="find_t">공학용 계산기 AMU모델 구합니다..!!</p>
            <div class="find_attribute">
                <div class="f_attr">
                    <span id="f_time">3</span>
                    <span>분 전</span>
                </div>
                <div class="f_attr">
                    <span>채팅</span>
                    <span id="f_chat">2</span>
                </div>
                <span class="f_attr">거래 전</span>
            </div>
            <p class="find_text">
                내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기
            </p>
        </div>
        <div class="find_card">
            <p id="find_t">공학용 계산기 AMU모델 구합니다..!!</p>
            <div class="find_attribute">
                <div class="f_attr">
                    <span id="f_time">3</span>
                    <span>분 전</span>
                </div>
                <div class="f_attr">
                    <span>채팅</span>
                    <span id="f_chat">2</span>
                </div>
                <span class="f_attr">거래 전</span>
            </div>
            <p class="find_text">
                내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기
            </p>
        </div>
        <div class="find_card">
            <p id="find_t">공학용 계산기 AMU모델 구합니다..!!</p>
            <div class="find_attribute">
                <div class="f_attr">
                    <span id="f_time">3</span>
                    <span>분 전</span>
                </div>
                <div class="f_attr">
                    <span>채팅</span>
                    <span id="f_chat">2</span>
                </div>
                <span class="f_attr">거래 전</span>
            </div>
            <p class="find_text">
                내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기
            </p>
        </div>
        <div class="find_card">
            <p id="find_t">공학용 계산기 AMU모델 구합니다..!!</p>
            <div class="find_attribute">
                <div class="f_attr">
                    <span id="f_time">3</span>
                    <span>분 전</span>
                </div>
                <div class="f_attr">
                    <span>채팅</span>
                    <span id="f_chat">2</span>
                </div>
                <span class="f_attr">거래 전</span>
            </div>
            <p class="find_text">
                내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기
            </p>
        </div>
    </div>
</div>
<div class="review_list">
    <div id="review_title">
        <span id="list_title">Photo Review</span>
        <div id="r_num">
            <span>(</span>
            <span>123</span>
            <span>)</span>
        </div>
    </div>
    <a href="#"><i class="fa-regular fa-square-plus"></i></a>
    <span id="see_all">전체보기</span>
    <div class="r_img">
        <div class="r_img_row">
            <img src="../static/resource/Photo Review_svg/기타피크.svg" alt="review1">
            <img src="../static/resource/Photo Review_svg/넷플릭스.svg" alt="review2">
            <img src="../static/resource/Photo Review_svg/샴푸.svg" alt="review3">
            <img src="../static/resource/Photo Review_svg/스템플러.svg" alt="review4">
            <img src="../static/resource/Photo Review_svg/애플뮤직.svg" alt="review5">
            <img src="../static/resource/Photo Review_svg/애플펜슬.svg" alt="review6">
            <img src="../static/resource/Photo Review_svg/우산.svg" alt="review7">
            <img src="../static/resource/Photo Review_svg/이어폰.svg" alt="review8">
        </div>
    </div>
</div>
{% endblock section %}