{% extends "index.html" %}
{% block title %}Home{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock head %}

{% block section %}
<div class="main_banner">
    <div class="banner">
        <img src="static/resource/Main Banner/Main_Banner_1.png" alt="mainbanner1">
    </div>
    <div class="banner">
        <img src="static/resource/Main Banner/Main_Banner_2.png" alt="mainbanner2">
    </div>
    <div class="banner">
        <img src="static/resource/Main Banner/Main_Banner_3.png" alt="mainbanner3">
    </div>
</div>

<div class="pre_list">
    <p id="pre_list_title">지금 바로 대여 가능해요!</p>
    <div class="pre_list_row">
        <div class="card1">
            <div class="product_card">
                <img src="../static/resource/products_png/공학용계산기.png" alt="product1">
                <!-- 백엔드와 연동하지 않고 화면만 띄우게 구현한 상태-->
                <div class="product_info">
                    <p id="product_01">공학용 계산기</p>
                    <div class="price">
                        <div class="price-left">
                            <span id="product_02">2,000원</span>
                            <span id="product_03">/일</span>
                        </div>
                        <span id="product_04">보증금 10,000원</span>
                    </div>
                    <div class="p_attribute">
                        <div class="p_attribute_left">
                            <span id="product_05">3분 전</span>
                            <a href="#"><i class="fa-solid fa-comments"></i></a>
                            <span id="product_06">5</span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <span id="product_07">45</span>
                        </div>
                        <span id="product_08">만나서 직거래</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card2">
            <div class="product_card">
                <img src="../static/resource/products_png/넷플릭스.png" alt="product1">
                <!-- 백엔드와 연동하지 않고 화면만 띄우게 구현한 상태-->
                <div class="product_info">
                    <p id="product_01">넷플릭스 일일 대여</p>
                    <div class="price">
                        <div class="price-left">
                            <span id="product_02">1,500원</span>
                            <span id="product_03">/일</span>
                        </div>
                        <span id="product_04">보증금 10,000원</span>
                    </div>
                    <div class="p_attribute">
                        <div class="p_attribute_left">
                            <span id="product_05">3분 전</span>
                            <a href="#"><i class="fa-solid fa-comments"></i></a>
                            <span id="product_06">5</span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <span id="product_07">45</span>
                        </div>
                        <span id="product_08">비대면 거래</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card3">
            <div class="product_card">
                <img src="../static/resource/products_png/이어폰.png" alt="product1">
                <!-- 백엔드와 연동하지 않고 화면만 띄우게 구현한 상태-->
                <div class="product_info">
                    <p id="product_01">이어폰</p>
                    <div class="price">
                        <div class="price-left">
                            <span id="product_02">2,000원</span>
                            <span id="product_03">/일</span>
                        </div>
                        <span id="product_04">보증금 10,000원</span>
                    </div>
                    <div class="p_attribute">
                        <div class="p_attribute_left">
                            <span id="product_05">3분 전</span>
                            <a href="#"><i class="fa-solid fa-comments"></i></a>
                            <span id="product_06">5</span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <span id="product_07">45</span>
                        </div>
                        <span id="product_08">만나서 직거래</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card4">
            <div class="product_card">
                <img src="../static/resource/products_png/충전기.png" alt="product1">
                <!-- 백엔드와 연동하지 않고 화면만 띄우게 구현한 상태-->
                <div class="product_info">
                    <p id="product_01">충전기</p>
                    <div class="price">
                        <div class="price-left">
                            <span id="product_02">2,000원</span>
                            <span id="product_03">/일</span>
                        </div>
                        <span id="product_04">보증금 10,000원</span>
                    </div>
                    <div class="p_attribute">
                        <div class="p_attribute_left">
                            <span id="product_05">3분 전</span>
                            <a href="#"><i class="fa-solid fa-comments"></i></a>
                            <span id="product_06">5</span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <span id="product_07">45</span>
                        </div>
                        <span id="product_08">만나서 직거래</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pre_list_row">
        <div class="card5">
            <div class="product_card">
                <img src="../static/resource/products_png/챗지피티.png" alt="product1">
                <!-- 백엔드와 연동하지 않고 화면만 띄우게 구현한 상태-->
                <div class="product_info">
                    <p id="product_01">챗지피티</p>
                    <div class="price">
                        <div class="price-left">
                            <span id="product_02">2,000원</span>
                            <span id="product_03">/일</span>
                        </div>
                        <span id="product_04">보증금 10,000원</span>
                    </div>
                    <div class="p_attribute">
                        <div class="p_attribute_left">
                            <span id="product_05">3분 전</span>
                            <a href="#"><i class="fa-solid fa-comments"></i></a>
                            <span id="product_06">5</span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <span id="product_07">45</span>
                        </div>
                        <span id="product_08">만나서 직거래</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card6">
            <div class="product_card">
                <img src="../static/resource/products_png/우산.png" alt="product1">
                <!-- 백엔드와 연동하지 않고 화면만 띄우게 구현한 상태-->
                <div class="product_info">
                    <p id="product_01">우산</p>
                    <div class="price">
                        <div class="price-left">
                            <span id="product_02">2,000원</span>
                            <span id="product_03">/일</span>
                        </div>
                        <span id="product_04">보증금 10,000원</span>
                    </div>
                    <div class="p_attribute">
                        <div class="p_attribute_left">
                            <span id="product_05">3분 전</span>
                            <a href="#"><i class="fa-solid fa-comments"></i></a>
                            <span id="product_06">5</span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <span id="product_07">45</span>
                        </div>
                        <span id="product_08">만나서 직거래</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card7">
            <div class="product_card">
                <img src="../static/resource/products_png/애플펜슬.png" alt="product1">
                <!-- 백엔드와 연동하지 않고 화면만 띄우게 구현한 상태-->
                <div class="product_info">
                    <p id="product_01">애플펜슬</p>
                    <div class="price">
                        <div class="price-left">
                            <span id="product_02">2,000원</span>
                            <span id="product_03">/일</span>
                        </div>
                        <span id="product_04">보증금 10,000원</span>
                    </div>
                    <div class="p_attribute">
                        <div class="p_attribute_left">
                            <span id="product_05">3분 전</span>
                            <a href="#"><i class="fa-solid fa-comments"></i></a>
                            <span id="product_06">5</span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <span id="product_07">45</span>
                        </div>
                        <span id="product_08">만나서 직거래</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card8">
            <div class="product_card">
                <img src="../static/resource/products_png/실험복.png" alt="product1">
                <!-- 백엔드와 연동하지 않고 화면만 띄우게 구현한 상태-->
                <div class="product_info">
                    <p id="product_01">실험복</p>
                    <div class="price">
                        <div class="price-left">
                            <span id="product_02">2,000원</span>
                            <span id="product_03">/일</span>
                        </div>
                        <span id="product_04">보증금 10,000원</span>
                    </div>
                    <div class="p_attribute">
                        <div class="p_attribute_left">
                            <span id="product_05">3분 전</span>
                            <a href="#"><i class="fa-solid fa-comments"></i></a>
                            <span id="product_06">5</span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <span id="product_07">45</span>
                        </div>
                        <span id="product_08">만나서 직거래</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pre_list_row">
        <div class="card9">
            <div class="product_card">
                <img src="../static/resource/products_png/애플뮤직.png" alt="product1">
                <!-- 백엔드와 연동하지 않고 화면만 띄우게 구현한 상태-->
                <div class="product_info">
                    <p id="product_01">애플뮤직</p>
                    <div class="price">
                        <div class="price-left">
                            <span id="product_02">2,000원</span>
                            <span id="product_03">/일</span>
                        </div>
                        <span id="product_04">보증금 10,000원</span>
                    </div>
                    <div class="p_attribute">
                        <div class="p_attribute_left">
                            <span id="product_05">3분 전</span>
                            <a href="#"><i class="fa-solid fa-comments"></i></a>
                            <span id="product_06">5</span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <span id="product_07">45</span>
                        </div>
                        <span id="product_08">만나서 직거래</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card10">
            <div class="product_card">
                <img src="../static/resource/products_png/샴푸.png" alt="product1">
                <!-- 백엔드와 연동하지 않고 화면만 띄우게 구현한 상태-->
                <div class="product_info">
                    <p id="product_01">샴푸</p>
                    <div class="price">
                        <div class="price-left">
                            <span id="product_02">2,000원</span>
                            <span id="product_03">/일</span>
                        </div>
                        <span id="product_04">보증금 10,000원</span>
                    </div>
                    <div class="p_attribute">
                        <div class="p_attribute_left">
                            <span id="product_05">3분 전</span>
                            <a href="#"><i class="fa-solid fa-comments"></i></a>
                            <span id="product_06">5</span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <span id="product_07">45</span>
                        </div>
                        <span id="product_08">만나서 직거래</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card11">
            <div class="product_card">
                <img src="../static/resource/products_png/슬리퍼.png" alt="product1">
                <!-- 백엔드와 연동하지 않고 화면만 띄우게 구현한 상태-->
                <div class="product_info">
                    <p id="product_01">슬리퍼</p>
                    <div class="price">
                        <div class="price-left">
                            <span id="product_02">2,000원</span>
                            <span id="product_03">/일</span>
                        </div>
                        <span id="product_04">보증금 10,000원</span>
                    </div>
                    <div class="p_attribute">
                        <div class="p_attribute_left">
                            <span id="product_05">3분 전</span>
                            <a href="#"><i class="fa-solid fa-comments"></i></a>
                            <span id="product_06">5</span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <span id="product_07">45</span>
                        </div>
                        <span id="product_08">만나서 직거래</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card12">
            <div class="product_card">
                <img src="../static/resource/products_png/디즈니플러스.png" alt="product1">
                <!-- 백엔드와 연동하지 않고 화면만 띄우게 구현한 상태-->
                <div class="product_info">
                    <p id="product_01">디즈니플러스</p>
                    <div class="price">
                        <div class="price-left">
                            <span id="product_02">2,000원</span>
                            <span id="product_03">/일</span>
                        </div>
                        <span id="product_04">보증금 10,000원</span>
                    </div>
                    <div class="p_attribute">
                        <div class="p_attribute_left">
                            <span id="product_05">3분 전</span>
                            <a href="#"><i class="fa-solid fa-comments"></i></a>
                            <span id="product_06">5</span>
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <span id="product_07">45</span>
                        </div>
                        <span id="product_08">만나서 직거래</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagenation">
        <span>&lt;&lt;</span>
        <span>&lt;</span>
        <span id="selected">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&gt;</span>
        <span>&gt;&gt;</span>
    </div>
</div>
<div class="find_list">
    <span id="list_title">"이런 물건 찾고 있어요! 🙋‍♀️"</span>
    <a href="#"><i class="fa-regular fa-square-plus"></i></a>
    <span id="see_all">전체보기</span>
    <div class="find_list_row">
        <div class="find_card">
            <p id="find_t">공학용 계산기 AMU모델 구합니다..!!</p>
            <div class="find_attribute">
                <div class="f_attr">
                    <span id="f_time">3</span>
                    <span>분 전</span>
                </div>
                <div class="f_attr">
                    <span>채팅</span>
                    <span id="f_chat">2</span>
                </div>
                <span class="f_attr">거래 전</span>
            </div>
            <p class="find_text">
                내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기
            </p>
        </div>
        <div class="find_card">
            <p id="find_t">공학용 계산기 AMU모델 구합니다..!!</p>
            <div class="find_attribute">
                <div class="f_attr">
                    <span id="f_time">3</span>
                    <span>분 전</span>
                </div>
                <div class="f_attr">
                    <span>채팅</span>
                    <span id="f_chat">2</span>
                </div>
                <span class="f_attr">거래 전</span>
            </div>
            <p class="find_text">
                내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기
            </p>
        </div>
        <div class="find_card">
            <p id="find_t">공학용 계산기 AMU모델 구합니다..!!</p>
            <div class="find_attribute">
                <div class="f_attr">
                    <span id="f_time">3</span>
                    <span>분 전</span>
                </div>
                <div class="f_attr">
                    <span>채팅</span>
                    <span id="f_chat">2</span>
                </div>
                <span class="f_attr">거래 전</span>
            </div>
            <p class="find_text">
                내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기
            </p>
        </div>
        <div class="find_card">
            <p id="find_t">공학용 계산기 AMU모델 구합니다..!!</p>
            <div class="find_attribute">
                <div class="f_attr">
                    <span id="f_time">3</span>
                    <span>분 전</span>
                </div>
                <div class="f_attr">
                    <span>채팅</span>
                    <span id="f_chat">2</span>
                </div>
                <span class="f_attr">거래 전</span>
            </div>
            <p class="find_text">
                내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기내용미리보기
            </p>
        </div>
    </div>
</div>
<div class="review_list">
    <div id="review_title">
        <span id="list_title">Photo Review</span>
        <div id="r_num">
            <span>(</span>
            <span>123</span>
            <span>)</span>
        </div>
    </div>
    <a href="#"><i class="fa-regular fa-square-plus"></i></a>
    <span id="see_all">전체보기</span>
    <div class="r_img">
        <div class="r_img_row">
            <img src="../static/resource/Photo Review_svg/기타피크.svg" alt="review1">
            <img src="../static/resource/Photo Review_svg/넷플릭스.svg" alt="review2">
            <img src="../static/resource/Photo Review_svg/샴푸.svg" alt="review3">
            <img src="../static/resource/Photo Review_svg/스템플러.svg" alt="review4">
            <img src="../static/resource/Photo Review_svg/애플뮤직.svg" alt="review5">
            <img src="../static/resource/Photo Review_svg/애플펜슬.svg" alt="review6">
            <img src="../static/resource/Photo Review_svg/우산.svg" alt="review7">
            <img src="../static/resource/Photo Review_svg/이어폰.svg" alt="review8">
        </div>
    </div>
</div>
{% endblock section %}