{% extends "index.html" %}

{% block title %}로그인{% endblock title %}

{% block head %}
<!-- 로그인 전용 CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock head %}

{% block section %}

{# 플래시 메시지 (로그인 실패 시 알림 등) #}
{% with mesg = get_flashed_messages() %}
    {% if mesg != [] %}
        <script>alert("{{mesg[0]}}")</script>
    {% endif %}
{% endwith %}

<h2 class="signup-title">로그인</h2>
<div class="login-page-wrapper">
    <div class="login-container">
        
        <form class="login-form" method="post" action="{{ url_for('login_user') }}">
            <input type="text" name="id" placeholder="아이디" required>
            <input type="password" name="pw" placeholder="비밀번호" required>
            <button type="submit">로그인</button>
        </form>

        <div class="form-links-container">
            <div class="form-links">
                <a href="#">비밀번호 재설정</a>
                <span class="separator">|</span>
                <a href="/signup">회원가입</a>
            </div>

            <div class="extra-links">
                <a href="#" class="problem">로그인에 문제가 있으신가요?</a>
                <a href="#" class="nonmember">비회원 거래 조회하기</a>
            </div>
        </div>
    </div>
</div>

{% endblock section %}