{% extends "index.html" %}
{% block title %}전체 상품{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head %}

{% block section %}
<div class="products">
    {% if total > 0 %}
    <div class="title">
        <span id="list_title">등록된 전체 상품</span>
        <div id="list_num">
            <span id="num">{{total}}</span>
            <span>개</span>
        </div>
    </div>
    <table>
        <tr>
            {% for key, value in row1 %}
            <td>
                <div class="card" onclick="location.href='/product_detail/{{key}}/';" style="cursor:pointer;">
                    <a>
                        <div class="product_card">
                            <img src="/static/{{value.img_path}}" alt="product">

                            <div class="product_info">
                                <p id="product_01">{{ value.name }}</p>

                                <div class="price">
                                    <div class="price-left">
                                        <span id="product_02">{{ value.price }}원</span>
                                        <span id="product_03">/일</span>
                                    </div>
                                    <span id="product_04">보증금 원</span> <!-- 상품 등록에서 보증금 추가 필요 -->
                                </div>

                                <div class="p_attribute">
                                    <div class="p_attribute_left">
                                        <span id="product_05">{{ value.time_ago }}</span>
                                        <a><i class="fa-solid fa-comments"></i></a>
                                        <span id="product_06">1</span> <!-- 채팅 기능은 구현이 어려우므로 제외시키는 방향을 고민해봐요 -->
                                        <a><i class="fa-solid fa-heart"></i></a>
                                        <span id="product_07">1</span> <!-- 좋아요 기능 구현 후 수정 -->
                                    </div>

                                    <span id="product_08">{{ value.way }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row2 %}
            <td>
                <div class="card" onclick="location.href='/product_detail/{{key}}/';" style="cursor:pointer;">
                    <a>
                        <div class="product_card">
                            <img src="/static/{{value.img_path}}" alt="product">

                            <div class="product_info">
                                <p id="product_01">{{ value.name }}</p>

                                <div class="price">
                                    <div class="price-left">
                                        <span id="product_02">{{ value.price }}원</span>
                                        <span id="product_03">/일</span>
                                    </div>
                                    <span id="product_04">보증금 원</span> <!-- 상품 등록에서 보증금 추가 필요 -->
                                </div>

                                <div class="p_attribute">
                                    <div class="p_attribute_left">
                                        <span id="product_05">{{ value.time_ago }}</span>
                                        <a><i class="fa-solid fa-comments"></i></a>
                                        <span id="product_06">1</span> <!-- 채팅 기능은 구현이 어려우므로 제외시키는 방향을 고민해봐요 -->
                                        <a><i class="fa-solid fa-heart"></i></a>
                                        <span id="product_07">1</span> <!-- 좋아요 기능 구현 후 수정 -->
                                    </div>

                                    <span id="product_08">{{ value.way }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row3 %}
            <td>
                <div class="card" onclick="location.href='/product_detail/{{key}}/';" style="cursor:pointer;">
                    <a>
                        <div class="product_card">
                            <img src="/static/{{value.img_path}}" alt="product">

                            <div class="product_info">
                                <p id="product_01">{{ value.name }}</p>

                                <div class="price">
                                    <div class="price-left">
                                        <span id="product_02">{{ value.price }}원</span>
                                        <span id="product_03">/일</span>
                                    </div>
                                    <span id="product_04">보증금 원</span> <!-- 상품 등록에서 보증금 추가 필요 -->
                                </div>

                                <div class="p_attribute">
                                    <div class="p_attribute_left">
                                        <span id="product_05">{{ value.time_ago }}</span>
                                        <a><i class="fa-solid fa-comments"></i></a>
                                        <span id="product_06">1</span> <!-- 채팅 기능은 구현이 어려우므로 제외시키는 방향을 고민해봐요 -->
                                        <a><i class="fa-solid fa-heart"></i></a>
                                        <span id="product_07">1</span> <!-- 좋아요 기능 구현 후 수정 -->
                                    </div>

                                    <span id="product_08">{{ value.way }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row4 %}
            <td>
                <div class="card" onclick="location.href='/product_detail/{{key}}/';" style="cursor:pointer;">
                    <a>
                        <div class="product_card">
                            <img src="/static/{{value.img_path}}" alt="product">

                            <div class="product_info">
                                <p id="product_01">{{ value.name }}</p>

                                <div class="price">
                                    <div class="price-left">
                                        <span id="product_02">{{ value.price }}원</span>
                                        <span id="product_03">/일</span>
                                    </div>
                                    <span id="product_04">보증금 원</span> <!-- 상품 등록에서 보증금 추가 필요 -->
                                </div>

                                <div class="p_attribute">
                                    <div class="p_attribute_left">
                                        <span id="product_05">{{ value.time_ago }}</span>
                                        <a><i class="fa-solid fa-comments"></i></a>
                                        <span id="product_06">1</span> <!-- 채팅 기능은 구현이 어려우므로 제외시키는 방향을 고민해봐요 -->
                                        <a><i class="fa-solid fa-heart"></i></a>
                                        <span id="product_07">1</span> <!-- 좋아요 기능 구현 후 수정 -->
                                    </div>

                                    <span id="product_08">{{ value.way }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </td>
            {% endfor %}
        </tr>
    </table>

    <!--페이지네이션-->
    <div class="page-wrap">
        <div class="page-nation">
            <ul>
                <li>&lt;&lt;</li>
                <li>&lt;</li>
                <li>
                    {% for i in range(page_count) %}
                    <a href="{{url_for('view_products', page=i)}}">{{i}}</a>
                    {% endfor %}
                </li>
                <li>&gt;</li>
                <li>&gt;&gt;</li>
            </ul>
        </div>
    </div>
    {% else %}
    <div class="title">
        <span id="list_title">등록된 전체 상품</span>
        <div id="list_num">
            <span id="num">{{total}}</span>
            <span>개</span>
        </div>
    </div>
    <p>
        등록된 상품이 없습니다.
    </p>
    {% endif %}
    {% endblock section %}