{% extends "index.html" %}
{% block title %}전체 상품{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock head %}

{% block section %}
<div class="products">
    <div class="title">
        <span id="list_title">등록된 전체 상품</span>
        <div id="list_num">
            <span id="num">{{ total_items }}</span>
            <span>개</span>
        </div>
    </div>

    <div class="list">
        {% for row in items|batch(4, fill_with=None) %}
        <div class="list_row">
            {% for item in row %}
            {% if item %}
            <div class="card">
                <a href="/product_detail?name={{ item.name }}">
                    <div class="product_card">
                        <img src="{{ url_for('static', filename=item.img_path) }}" alt="상품 이미지"
                            class="img" />
                        <div class="product_info">
                            <p id="product_01">{{ item.name }}</p>
                            <div class="price">
                                <div class="price-left">
                                    <span id="product_02">{{ item.price }}원</span>
                                    <span id="product_03">/일</span>
                                </div>
                                <span id="product_04">보증금 10,000원</span>
                            </div>
                            <div class="p_attribute">
                                <div class="p_attribute_left">
                                    <span id="product_05">3분 전</span>
                                    <a href="#"><i class="fa-solid fa-comments"></i></a>
                                    <span id="product_06">5</span>
                                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                                    <span id="product_07">45</span>
                                </div>
                                <span id="product_08">{{ item.way }}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="pagenation">
        <span>&lt;&lt;</span>
        <span>&lt;</span>
        <span id="selected">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&gt;</span>
        <span>&gt;&gt;</span>
    </div>
</div>
</div>
{% endblock section %}