{% extends "index.html" %}
{% block section %}
<section class="review-page">
    <div class="review-banner">
    <h2>리뷰 작성하고 포인트 받으세요!</h2>
    <p>당신의 소중한 경험이 다른 사용자에게 큰 도움이 됩니다.</p>
    <div class="banner-buttons">
      <a href="/">쇼핑 계속하기</a>
      <a href="/select_review" class="write-review-btn">내 리뷰 작성하기</a>
    </div>
  </div>

  <div class="review-list-section">
    <h2 class="section-title">빌리지 이웃들의 최신 리뷰!</h2>

    <div class="review-list">
      {% for review in pagination.items %}
      <div class="review-card">
        <a href="{{ url_for('review_detail', review_id=review.id) }}">
          <img src="{{ url_for('static', filename=review.image_url) }}" alt="리뷰 이미지" height="220">
          <div class="review-content">a
            <h3>{{ review.title }}</h3>
            <p>{{ review.content }}</p>
            <div class="review-meta">
              <span class="author">{{ review.author }}</span>
              <span class="date">{{ review.date }}</span>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <nav class="pagination-container" aria-label="Page navigation">
    {% if pagination.pages > 1 %}
    <ul class="pagination">

        <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('view_review', page=pagination.prev_num) if pagination.has_prev else '#' }}">&laquo;</a>
        </li>

        {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
                <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('view_review', page=page_num) }}">{{ page_num }}</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
        {% endfor %}

        <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('view_review', page=pagination.next_num) if pagination.has_next else '#' }}">&raquo;</a>
        </li>

    </ul>
    {% endif %}
  </nav>
</section>
{% endblock %}